table {
  width: 100%;
}

.mat-column-delete {
  width: 2rem;
}

.mat-column-edit {
  width: 2rem;
}

.mat-column-watch {
  width: 2rem;
}

v-center {
  /* vertical-align: middle; */
  padding-top: 10px;
  margin-top: 10px;
}