<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand font-weight-bold text-white" href="#">
      <img src="assets/image/Activity-Monitor-icon.png" width="30" height="30" class="d-inline-block text-align-top" alt="">
      Youknow
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="assets/image/server-icon.png" width="20" height="20" class="d-inline-block text- align-top" alt="">
            Servers
          </a>
          <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item bg-dark text-white" href="#"><img src="assets/image/add-server-icon.png" width="20" height="20" class="d-inline-block text-align-top" alt="">&nbsp;&nbsp;&nbsp;Add New</a>
            <a class="dropdown-item bg-dark text-white" href="#"><img src="assets/image/remove-server-icon.png" width="20" height="20" class="d-inline-block text-align-top" alt="">&nbsp;&nbsp;&nbsp;Detach</a>
            <a class="dropdown-item bg-dark text-white" href="#"><img src="assets/image/enable-server-icon.png" width="20" height="20" class="d-inline-block text-align-top" alt="">&nbsp;&nbsp;&nbsp;Configure</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="assets/image/server-icon.png" width="20" height="20" class="d-inline-block text- align-top" alt="">
            Operations
          </a>
          <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item bg-dark text-white" href="#">Watch Realtime</a>
            <a class="dropdown-item bg-dark text-white" href="#">Compare Realtime</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="assets/image/server-icon.png" width="20" height="20" class="d-inline-block text- align-top" alt="">
            Performance
          </a>
          <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item bg-dark text-white" href="#">Performance Comparison on single Servers</a>
            <a class="dropdown-item bg-dark text-white" href="#">Performance Comparison between 2 Servers</a>
            <a class="dropdown-item bg-dark text-white" href="#">Deep Performance Analysis</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
