
.blue {
  color:dodgerblue
}

.red {
  color:indianred
}

.header1 {
  font-size: 35px;
}

.container {
  padding: 1rem;
}

.infoIcon {
  position: relative;
  z-index: 10000000;
  float: right;
  font-size: 10px;
}

.my-tooltip {
  white-space: pre-line;
}