
.blue {
  color:dodgerblue
}

.red {
  color:indianred
}

.header1 {
  font-size: 35px;
}

.fullWidth {
 width: 100%;
}

.container {
  padding: 0.5rem;
  padding-top: 0.2rem;
}

.infoIcon {
  position: relative;
  z-index: 10000000;
  float: right;
  font-size: 12px;
  height: 20px;
  opacity: 0.5;
}

.my-tooltip {
  white-space: pre-line;
}

.nano-chart {
  display: inline;
  float: left;
  width: 250px; 
  height: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.margin-common {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  margin-left: 0.5rem;
}

.mini-chart {
  display: inline;
  float: left;
  width: 300px; 
  height: 150px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.full-width-chart {
  display: inline;
  float: left;
  width: 100%; 
  height: 400px;
  margin-right: 1rem;
}

.full-width-history-chart {
  display: inline;
  float: left;
  width: 100%; 
  height: 480px;
  margin-right: 1rem;
  font-size: 8px;
}

.header-display {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.child-right {
  height: 100%;
  /* width: 10%; */
  position: absolute;
  right: 0;
  top: 0;
  transition: width 2s;
}

.color-layer {
  background:rgb(245, 245, 245);
}

.hot-linear-gradient {
  background-color:transparent;
  background-image: linear-gradient(to right,rgba(4, 255, 8, 0.191),rgba(241, 245, 0, 0.191), rgba(255, 0, 0, 0.191));
}

.center {
  margin: auto;
  width:fit-content;
   /* border: 3px solid gray;  */
}

.child-right-float{
  float: right;
  width:fit-content;
  height:fit-content;
  /* border:solid 1px #00F; */
  z-index: 10000;
  margin-top: -3px;
}

.back-gray{
  background-color: rgb(236, 236, 236);
}

.back-white{
  background-color: rgb(256, 256, 256);
}

.slide-bar-opener{
  float: left;
  position: absolute;
  z-index: 10000;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.date-time-picker{
 background-color: rgb(233, 233, 233);
 padding: 0.5rem;
 margin-bottom: 1rem;
 border:1 solid rgb(179, 179, 179);
}

.date-time-picker input[type="datetime-local"] {
  width: 97%;
  margin-right: 0.5rem;
  /* padding-right: 2rem; */
  /* More styles here */
}

.remove-top-margin {
  margin-top: 100px;
}

.history-slide-bar-opener{
  float: left;
  position: absolute;
  z-index: 10000;
  width: 30px;
  margin-top: 10px;
  margin-left: 55px;
  cursor: pointer;
}

mat-list-option, mat-ripple, .mat-list-item-content .mat-list-item-content-reverse  {
  max-height: 28px;
  height: 28px;
}