<div class="container">
  <h1><span class="header1 blue">{{server.agent_id}} </span>
    | IP: {{server.ip}}
    | CPU: {{server.cpu_count}}
    | PLATFORM: {{server.platform}}
    | Refresh Interval: {{server.stats_interval_ms}}
    | Last Updated: {{server.last_updated_ts}}
  </h1>
  <table>
    <tr>
      <td>
        <div id="cpuChartDiv" style="width: 400px; height: 200px;">
          <img src="assets/icons/info-24px.svg" matTooltip="Info about the action" class="infoIcon"
            #tooltip="matTooltip"
            matTooltip="US: User cpu time (or) % CPU time spent in user space \n&#x2022;
    SY: System cpu time (or) % CPU time spent in kernel space \n&#x2022;
    NI: User nice cpu time (or) % CPU time spent on low priority processes &#x2022;
    ID: Idle cpu time (or) % CPU time spent idle &#x2022;
    WA: I/O wait cpu time (or) % CPU time spent in wait (on disk) &#x2022;
    HI: Hardware irq (or) % CPU time spent servicing/handling hardware interrupts &#x2022;
    SI: Software irq (or) % CPU time spent servicing/handling software interrupts &#x2022;
    ST: Steal time - - % CPU time in involuntary wait by virtual cpu while hypervisor is servicing another processor (or) % CPU time stolen from a virtual machine"
            [matTooltipClass]="'my-tooltip'" matTooltipPosition="right" matTooltipHideDelay="100000">
        </div>
      </td>
      <td>
        <div id="cpuChartDiv2" style="width: 400px; height: 200px;">
        </div>
      </td>
      <td>
        <div id="cpuChartDiv3" style="width: 400px; height: 200px;">
        </div>
      </td>
      <td>
        <div id="cpuChartDiv4" style="width: 400px; height: 200px;">
        </div>
      </td>
    </tr>
  </table>
</div>


<!-- <h2>{{server.watch_process}}</h2> -->