<mat-toolbar>
  <mat-icon style="cursor:pointer;" (click)="go2ServersPage();">self_improvement</mat-icon>
  <span style="cursor:pointer;" (click)="go2ServersPage();">{{title}}</span>
  <div>
    <div class="small-caption">The farther you go the less you know. ~ Socrates</div>
  </div>
  <span class="example-spacer"></span>
  <!-- Server Menu -->
  <button mat-button aria-label="Servers" (click)="go2ServersPage();">
    <mat-icon>desktop_mac</mat-icon>
    <span> Servers</span>
  </button>

  <!-- Operations Menu -->

  <button mat-button [matMenuTriggerFor]="operationsMenu" aria-label="Operations">
    <mat-icon>engineering</mat-icon>
    <span> Operations</span>
  </button>
  <mat-menu #operationsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>shutter_speed</mat-icon>
      <span> Watch Realtime</span>
    </button>
    <button mat-menu-item>
      <mat-icon>switch_camera</mat-icon>
      <span> Compare Realtime</span>
    </button>
  </mat-menu>

  <!-- Performance Menu -->
  <button mat-button [matMenuTriggerFor]="performanceMenu" aria-label="Performance">
    <mat-icon>auto_graph</mat-icon>
    <span> Performance</span>
  </button>
  <mat-menu #performanceMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>shutter_speed</mat-icon>
      <span> Single Server</span>
    </button>
    <button mat-menu-item>
      <mat-icon>switch_camera</mat-icon>
      <span> Comparison between 2 Servers</span>
    </button>
    <button mat-menu-item>
      <mat-icon>analytics</mat-icon>
      <span> Performance Deep Analysis</span>
    </button>
  </mat-menu>
  <!-- Place this tag where you want the button to render. -->
  <div style="margin-top: 6px;">
    <a class="github-button" href="https://github.com/somnathpanja/youknow"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star" data-size="small"
      data-show-count="false" aria-label="Star somnathpanja/youknow on GitHub">Star</a>&nbsp;
    <a class="github-button" href="https://github.com/somnathpanja/youknow/subscription"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-eye" data-size="small"
      data-show-count="false" aria-label="Watch somnathpanja/youknow on GitHub">Watch</a>&nbsp;
    <a class="github-button" href="https://github.com/somnathpanja/youknow/issues"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-issue-opened"
      data-size="small" data-show-count="false" aria-label="Issue somnathpanja/youknow on GitHub">Issue</a>&nbsp;
    <!-- <a class="github-button" href="https://github.com/somnathpanja/youknow/discussions"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-comment-discussion"
      data-size="small" aria-label="Discuss somnathpanja/youknow on GitHub">Discuss</a>&nbsp; -->
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/somnathpanja"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-show-count="true"
      aria-label="Follow @somnathpanja on GitHub">Follow @somnathpanja</a>&nbsp;
    <!-- <a class="github-button" href="https://github.com/sponsors/somnathpanja"
      data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-heart"
      aria-label="Sponsor @somnathpanja on GitHub">Sponsor</a> -->
  </div>
  <!-- <a target="_blank" href="https://github.com/somnathpanja/youknow/star">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Share your Love">
      <mat-icon>favorite</mat-icon>
    </button>
  </a> -->
  <!-- <a target="_blank" href="https://github.com/somnathpanja/youknow"><button mat-icon-button class="example-icon"
      aria-label="Share with friends">
      <mat-icon>share</mat-icon>
    </button>
  </a> -->
</mat-toolbar>