.example-spacer {
  flex: 1 1 auto;
}

.small-caption {
  position: relative;
  font-size: 10px;
  left:-82px;
  height: 8px;
  top:20px;
  text-size-adjust: auto;
  line-height: 0px;
  color:lightslategray;
}
